{% assign image_settings_id = 'image' | settings_id: section: section, block: block %}

<style>
  #block-{{ block.id }} img {
    border-radius: {{ block.settings.border_radius | remove: "px" | default: 100 | times: 1 | append: "px" }};
  }
  #block-{{ block.id }} img.active {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 4px solid {{ settings.color_primary }};
  }
  #block-{{ block.id }} img.locked {
    filter: grayscale(100%);
    opacity: .5;
  }
</style>

<h5 {% element_attributes "block.settings.label" %}>{{ block.settings.label }}</h5>
<p {% element_attributes "block.settings.title" %}>{{ block.settings.title }}</p>
{% if block.settings.state == "click" %}
  <a href="{{ block.settings.img_action }}" {% if block.settings.img_action == "#two-step" %} data-target="#two-step" data-toggle="modal" {% endif %} {% if block.settings.new_tab == true %} target="_blank" rel="noopener" {% endif %} aria-label="{{ block.settings.title }}">
    {{ block.settings.image | image_picker_url: 'placeholder.png' | image_tag: alt: block.settings.image_alt, kjb_settings_id: image_settings_id }}
  </a>
{% else %}
  {{ block.settings.image | image_picker_url: 'placeholder.png' | image_tag: class: block.settings.state, alt: block.settings.image_alt, kjb_settings_id: image_settings_id }}
{% endif %}
