{% assign popup_id = "cta-popup-" | append: block.id %}
<style>
  #{{ popup_id }} .modal__content {
    background: {{ block.settings.cta_popup_background_color }};
    text-align: {{ block.settings.cta_popup_text_align }};
  }
  #{{ popup_id }} .modal__body {
    max-height: 80vh;
    overflow-y: auto;
    padding: 0;
  }
  #{{ popup_id }} .modal__body > *:last-child {
    margin-bottom: 0;
  }
  #{{ popup_id }} .modal__body,
  #{{ popup_id }} .modal__body h1,
  #{{ popup_id }} .modal__body h2,
  #{{ popup_id }} .modal__body h3,
  #{{ popup_id }} .modal__body h4,
  #{{ popup_id }} .modal__body h5,
  #{{ popup_id }} .modal__body h6 {
    color: {{ block.settings.cta_popup_text_color }};
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    (function($) {
    var $html = $("html");
    var $body = $("body");
    var $container = $('#block-{{ block.id }}');
    var $trigger = $("[data-target='#{{ popup_id }}']", $container);
    var $ctaPopup = $("#{{ popup_id }}");
    var $closeX = $(".close-x");
    var $content = $ctaPopup.find(".modal__content");

    function open() {
      $ctaPopup.addClass("modal--open");
      $html.addClass("stop-scroll--html");
      $body.addClass("stop-scroll--body");
      $ctaPopup.on("click", close);
      $closeX.on("click", close);
      $content.on("click", function(event) {
        event.stopPropagation();
      });
    }
  
    function close() {
      $ctaPopup.removeClass("modal--open");
      $html.removeClass("stop-scroll--html");
      $body.removeClass("stop-scroll--body");
    }
  
    $trigger.on("click", open);
  
    })(jQuery);
  });
</script>
<div class="modal cta-popup background-{% if block.settings.cta_popup_background_color != blank  %}{{ block.settings.cta_popup_background_color | color_scheme_class }}{% else %}light{% endif %}" id="{{ popup_id }}">
  <div class="modal__content" kjb-settings-id="{{ 'cta_popup_edit' | settings_id: section: section, block: block }}">
    <div class="close-x">
      <div class="close-x__part"></div>
      <div class="close-x__part"></div>
    </div>
    <div class="modal__body">
      {% element "block.settings.cta_popup_text" %}
        {{ block.settings.cta_popup_text }}
      {% endelement %}
    </div>
  </div>
</div>

{% if editor %}
  {% if block.settings.cta_popup_edit == true %}
    <script>
      var el = document.getElementById("{{ popup_id }}");
      el.classList.add("modal--open");
    </script>
  {% endif %}
{% endif %}
